@font-face {
  font-family: Inter;
  src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Digital-Numbers";
  src: url("./fonts/digital-7.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.welcome {
  height: 100vh;
  text-align: center;
  padding-top: 380px;
}

.pages {
  background-image: url("./images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page {
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 63px 71px 167px 71px;
}

.page > img {
  width: 150px;
  height: 92.155px;
}

.page > h4 {
  padding: 62.85px 0 14.86px 0;
  color: #4d4d4d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.page > p {
  color: #ababab;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  margin-bottom: 42px;
}

.page > b {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  display: block;
  text-align: left;
  margin-bottom: 7px;
}

.page > input {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #dcd9d9;
  background: #fff;
  display: block;
  width: 442px;
}

.check_forget {
  display: flex;
  margin-top: 50px;
  margin-bottom: 42px;
}

.check_forget > input {
  background-color: #df7d3a;
}

.check_forget > p {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.line {
  border-bottom: 1px solid #4d4d4d;
}

.p {
  margin-left: 8px;
  margin-right: 152px;
}

.btn {
  border: none;
  padding: 16px;
  border-radius: 8px;
  background: #fa7c54;
  width: 100%;
  cursor: pointer;
  width: 442px;
  display: block;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.login_bottom {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}

.login_bottom > p {
  color: #4d4d4d;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.login_bottom span {
  border-bottom: 1px solid #4d4d4d;
}

.login_bottom > p {
  cursor: pointer;
}

.register > .btn {
  margin-top: 22px;
}

.inputs {
  display: flex;
  gap: 40px;
}

.inputs > input {
  width: 50px;
  height: 60px;
  /* border-radius: 10px; */
  border: none;
  outline: none;
  border-bottom: 5px solid #4d4d4d;
  font-size: 50px;
}

.otp > b {
  margin-bottom: 35px;
}

.otp > .btn {
  margin-top: 90px;
}

.verifed > b {
  text-align: center;
}

.verifed {
  text-align: center;
}

#vektor {
  margin: 102px 0 81px 0;
  width: 140px;
  height: 140px;
}

.home {
  margin: 15px;
  display: flex;
}

.search {
  margin: 15px;
  display: flex;
}

.left_side {
  width: 18%;
  border: 2px solid #f3f3f7;
  padding: 38px 66px;
}

.right_side {
  width: 82%;
  background-color: #f3f3f7;
  padding: 38px 44px;
}

.left_side > img {
  width: 120px;
  height: 74.183px;
}

.main_menu {
  display: flex;
  gap: 34px;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 500px;
}

.main_menu > li {
  display: flex;
  gap: 12px;
}

.main_menu a {
  color: #8a8a8a;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.left_bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left_bottom a {
  color: #8a8a8a;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

li {
  cursor: pointer;
}

.allSearch {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.allSearch > select {
  padding: 12px 0 12px 36px;
  border: none;
  border-radius: 40px 0px 0px 40px;
  background: #f7f7fa;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  outline: none;
}

.allSearch > input {
  padding: 12px 112px 13px 21px;
  color: #c7c7c7;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  outline: none;
  border: none;
}

.srch {
  border-right: 1px solid #8a8a8a;
  padding-right: 9px;
}

.scr {
  margin-left: 11px;
  margin-right: 17px;
}

.lang {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 14px;
  padding: 14px 25px;
}

.lang > select {
  color: #4d4d4d;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  border: none;
  outline: none;
}

.timeAndDay {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 14px 52px 13px 57px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.time,
.day {
  display: flex;
  gap: 5px;
}

.timeAndDay p {
  color: #4d4d4d;
  text-align: center;
  font-family: "Digital-Numbers";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  letter-spacing: 2px;
}

.profile {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 3px;
  display: flex;
}

.profile > select {
  border: none;
  outline: none;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  margin: 18px;
}

header {
  display: flex;
  gap: 44px;
  margin-bottom: 43px;
}

.quote {
  width: 40%;
  border-radius: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(141deg, #eb5231 -29.15%, #571fcf 151.64%);
  padding: 33px 36px 27px 36px;
}

.quote > h2 {
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.523%;
}

.quote > p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 15px;
}

.quote > b {
  color: #fff;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  display: block;
}

.dots {
  display: flex;
  gap: 10px;
}

.dots > div {
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.newBooks {
  width: 60%;
  display: flex;
}

.p_rotate {
  border-radius: 10px 0px 0px 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(183deg, #eb5231 -4.09%, #571fcf 165.15%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.newBooks p {
  transform: rotate(-90deg);
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-weight: 500;
  line-height: 128.523%;
}

.newBooks > .books {
  display: flex;
  padding: 13px 35px;
  gap: 48px;
  border: 1px solid #eb5231;
  border-radius: 0 10px 10px 0;
  min-width: 803px;
  overflow-x: scroll;
  background-color: #fff;
}

.newBooks > .books > img {
  padding: 15px 18px 16.17px 19px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 167px;
  height: 203px;
}

aside {
  height: 580px;
  min-width: 1600px;
  overflow-y: scroll;
}

h2 {
  margin-bottom: 24px;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.523%;
}

.book_rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-right: 10px;
}

.book_rows > h3 {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
}

.book_rows > p {
  color: #8a8a8a;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
}

.bookBox {
  width: 160px;
  height: 260px;
  border-radius: 10px;
  background-color: #fff;
  padding: 16px 15px 13px 15px;
}

.bookBox > img {
  border: 2px solid red;
  width: 100%;
  height: 50%;
}

.bookBox > p {
  margin-top: 12px;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
}

.bookBox > b,
.bookBox > span {
  margin: 5px 0 5px 0;
  color: #4d4d4d;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  display: block;
}

aside > .books {
  display: flex;
  gap: 39px;
  margin-bottom: 63px;
  overflow-x: scroll;
  /* padding-bottom: 10px; */
}

nav img,
nav select {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 20px;
}

/* Loader */
.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid red;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: red transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

#recommend > #bookBox,
#recentBooks > #bookBox {
  padding: 16px 15px 13px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  font-family: Inter;
}

#bookBox > img {
  width: 160px;
}

.kind {
  display: inline-flex;
}

.searchBooks {
  margin-top: 100px;
  font-family: Inter;
}

.searchBook {
  padding: 13px 23px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* gap: 90px; */
  margin-bottom: 23px;
}

.title_img {
  display: flex;
  gap: 47px;
  align-items: center;
}

.title_img > div {
  width: 150px;
}

.title_img > img {
  width: 75px;
  height: 99px;
}

.rating_category {
  display: flex;
  align-items: center;
  gap: 72px;
}

.availability_status {
  display: flex;
  align-items: center;
  gap: 102px;
  font-family: Inter;
}

.availab {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.availab > li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.availab img {
  width: 15px;
  height: 15px;
}

.availability_status > div {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.availability_status > div > button {
  color: #fff;
  background-color: #42bb4e;
  border: none;
  padding: 5px 0px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.availability_status > div > div {
  display: flex;
  align-items: center;
}

.like_preview {
  display: flex;
  align-items: center;
  gap: 64px;
}

.like_preview > img {
  cursor: pointer;
}

.like_preview > button {
  border-radius: 5px;
  padding: 6px 12px;
  color: #f76b56;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #f76b56;
}

.title > span {
  color: #ef8361;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 128.523%;
}

.links {
  display: flex;
  gap: 50px;
}

.links > a {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.523%;
  /* 2.5705rem */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  column-gap: 70px;
  row-gap: 28px;
}

.card {
  width: 308px;
  padding: 15px;
  border-radius: 1rem;
  background: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
}

.left-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-card > img {
  width: 100%;
}

.borrowed {
  width: 125px;
  padding: 10px 12px 10px 16px;
  background: #a0a0a0;
}

.border {
  width: 125px;
  padding: 10px 12px 10px 16px;
  background: transparent;
  border: 1px solid #f76b56;
  color: #f76b56;
}

.right-card > span,
.left-card > p {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  /* 1.2852rem */
}

.book-name {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 128.523%;
  /* 1.5423rem */
  width: 130px;
}
